<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag "profile.jpeg" %>
    </div>

    <div id="content">
        <h1>Hello everyone! I'm Mr.StickMan. Admin of the Site! Hope you enjoy using Tumblr.</h1>
        <p>Sint echo park copper mug PBR&B vegan in pickled laboris lo-fi et polaroid green juice magna. Wayfarers microdosing officia est street art ea echo park salvia celiac post-ironic crucifix. Consectetur master cleanse qui, subway tile organic lorem pour-over live-edge raclette palo santo sriracha tumblr chartreuse vice. Letterpress lomo prism nisi retro, humblebrag tempor raw denim.Dummy text? More like dummy thicc text, amirite?</p>
    </div>
</div>